:root {
  /* light theme color */
  --light-background: #fefefe;
  --light-background-secondary: #f4efe1;
  --light-header: #fbfbfb;
  --light-color: #333;
  --light-color-secondary: #999;
  --light-border-color: #eed1d1;

  /* dark theme colors */
  --dark-background: #333;
  --dark-background-secondary: #464643;
  --dark-header: #363636;
  --dark-color: #fefefe;
  --dark-color-secondary: #777;
  --dark-border-color: #615252;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 768px);
  --tabletWidth: (max-width: 1080px);
}

@custom-media --phone (width < 768px);
@custom-media --tablet (width > 768px);

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    path {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* HOW TO USE */

/*@media (--phone) {*/
  /*margin-top: 0;*/
/*}*/
