:root {
  /* light theme color */
  --background: #fefefe; /* jyny */
  --background-secondary: #f4efe1; /* jyny */
  --header: #fbfbfb; /* jyny */
  --color: #333; /* jyny */
  --color-code: #c7254e; /* jyny */
  --color-secondary: #999; /* jyny */
  --border-color: #eed1d1; /* jyny */

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

body.dark-theme {
  /* dark theme colors */
  --background: #333; /* jyny */
  --background-secondary: #464643; /* jyny */
  --header: #363636; /* jyny */
  --color: #fefefe; /* jyny */
  --color-code: #ec4c4c; /* jyny */
  --color-secondary: #777; /* jyny */
  --border-color: #615252; /* jyny */
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    path {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* HOW TO USE */

/*@media (--phone) {*/
  /*margin-top: 0;*/
/*}*/
